<div class="navigation-header">
  <div class="navigation-header__left-side">
    {{text-button class="light-text-label" buttonLabel='About Us' onClickHandler=(action "openAbout")}}
    {{text-button class="light-text-label" buttonLabel='Categories' onClickHandler=(action "openCategories")}}
    {{!-- {{text-button class="dark-text-label" buttonLabel='Categories' onClickHandler=(action "openCategories")}} --}}
  </div>

  {{yield}}

  <div class="navigation-header__right-side">
    T
    T
    T
    {{icon-button}}
    {{icon-button}}
    {{icon-button}}
  </div>
</div>
